#graph {
  background-position: center;
  flex: 1;
  overflow: hidden;
  height: 100vh;
  max-height: 100vh;
  position: relative; }
  #graph.maps-view {
    display: none !important; }
  #graph .selectSquare {
    fill: rgba(0, 98, 255, 0.05);
    stroke: rgba(0, 98, 255, 0.5);
    stroke-width: 1;
    stroke-dasharray: 4;
    animation: selectSquareAnim 40s linear infinite; }

@keyframes selectSquareAnim {
  to {
    stroke-dashoffset: -400; } }
  #graph .labels .labelsBoard {
    pointer-events: none; }
  #graph.create-label .labels {
    cursor: url("../images/pen.png") 0 50, auto; }
    #graph.create-label .labels .labelsBoard {
      pointer-events: all; }
  #graph.create-label > * {
    pointer-events: none; }
  #graph.capture {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    z-index: 99999; }
    #graph.capture svg {
      background-color: white; }
  #graph.view {
    background-image: none; }
  #graph svg {
    user-select: none;
    left: 0;
    top: 0; }
  #graph .links path {
    fill: transparent;
    cursor: pointer; }
    #graph .links path.hidden {
      opacity: 0.2 !important; }
    #graph .links path.disappear {
      opacity: 0 !important; }
    #graph .links path.unChecked {
      opacity: 0.1 !important;
      pointer-events: none; }
    #graph .links path.unChecked {
      opacity: 0.1 !important;
      pointer-events: none; }
  #graph .directions .hidden {
    opacity: 0 !important;
    pointer-events: none; }
  #graph.create {
    cursor: crosshair; }
  #graph .linkText text {
    display: flex;
    height: 40px;
    line-height: 999;
    transform-box: fill-box;
    transform-origin: center;
    font-size: 14px; }
  #graph .node {
    cursor: pointer; }
    #graph .node :not(text) {
      stroke: #ffffff;
      stroke-width: 10; }
    #graph .node.withIcon :not(text) {
      stroke-width: 1; }
    #graph .node text {
      font-family: "Open Sans", sans-serif;
      dominant-baseline: central;
      fill: #0D0905;
      stroke: #fafbfc;
      stroke-width: 0.3;
      text-anchor: middle; }
    #graph .node.hidden {
      opacity: 0.2 !important; }
      #graph .node.hidden text {
        opacity: 0.4 !important; }
    #graph .node.disappear {
      opacity: 0 !important; }
    #graph .node.deleted {
      opacity: 0.5 !important;
      filter: url(#grayscaleFilter);
      pointer-events: none; }
    #graph .node.unChecked {
      opacity: 0.1 !important;
      pointer-events: none; }
    #graph .node.auto rect,
    #graph .node.auto path,
    #graph .node.auto image,
    #graph .node.auto circle {
      stroke-width: 2;
      stroke: white;
      stroke-dasharray: 2;
      animation: dashAutoAnim 80s linear;
      animation-iteration-count: infinite; }

@keyframes dashAutoAnim {
  to {
    stroke-dashoffset: 1000; } }
  #graph #addNewLink {
    pointer-events: none;
    stroke-width: 2;
    stroke-dasharray: 4;
    stroke: #7166F8; }
