
// ===For list Design=====
.homeWithUser {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
    align-items: inherit !important;
  
    .filter {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      position: relative;
  
      .filter-container {
        padding: 9px 0 0 16px;
        background-color: white;
        width: 110px;
        position: absolute;
        top: 13px;
        right: 75px;
        z-index: 90;
        box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
         p{
           margin-bottom: 12px !important;
           &:hover{
             cursor: pointer;
           }
         }
        .sort-text {
          font-size: 12px;
          color: #C2C2C2;
          line-height: 12px;
      
        }
  
        .ascending, .descending, .newest, .oldest {
          color: $color-main !important;
        }
      }
    }
  
     .content {
       margin-left: 0 !important;
       border-radius: 0 !important;
       border: none !important;
       padding: 60px 50px !important;
       min-height: 650px !important;
       .graphsList .graphsItem{
         display: grid;
         grid-template-columns: 15% 37% 23% 21% 4%;
         padding: 12px 0 !important;
         border: none !important;
         align-items: center !important;
         margin: 0 !important;
         justify-content: center !important;
         box-shadow: 0px 4px 62px rgba(0, 0, 0, 0.1) !important;
         border-radius: 5px !important;
         margin-bottom: 14px !important;
         .top{
           border:none !important;
           padding: 0 !important;
           justify-content: center !important;
           .avatar{
            margin-right: 10px !important;
            border-radius: 50%;
            width: 33px !important;
            height: 33px !important;
           }
           .infoWrapper{
             line-height: 19px !important;
              .info{
                margin: 0 !important;
                font-size: 15px !important;
                color: $color-gray1 !important;
                font-weight: 400 !important;
                width: 235px !important;
                display: flex;
                justify-content: space-between !important;
                .nodesCount{
                  color: $color-main !important;
                }
              }
              .author{
               color: $color-gray1 !important;
               font-weight: 700 !important;
              }
          }
            }
          .public_context{
            display: flex;
            align-items: center;
            h3{
            margin-left: 23px;
            font-size: 18px;
            font-weight: 600;
            color:$color-main;
            }
            .public_icon{
              line-height: 0;
              width: 35px;
              height: 35px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              text-align: center;
              background: #FFFFFF;
              box-shadow: 0px 4px 12px rgb(0 0 0 / 25%);
              position: relative;
              z-index: 2;
              left: 11px;
      
               i{
                 color:$color-main;
                 font-size: 23px;
                 margin: auto;
               }
             }
          }
         .graphListFooter {    
              .ghButton{
                padding: 0 !important;
                padding-right: 17px !important;
                @media screen and (max-width: 1300px) {
                padding-right: 12px !important;
              }
               }
            }
         .sub-menus{
             display: flex !important;
            &:hover{
              cursor: pointer;
            }
           .ar-popover-content.-arrow {
             margin-top: -3px;
             left: -93px;
             z-index: 9;
             padding: 5px 0 5px 0;
             .child{
              padding: 7px 0 7px 0 !important;
              width: 100%;
              margin: 0 !important;
              text-align: center;
              display: flex;
              align-items: center;
               }
            }
            svg{
              margin-top:-24px;
            }
            }
         .buttonHidden{
              display:none ;
            }
        }
          .graphsItem:hover{
              background: linear-gradient(145.22deg, rgba(240, 119, 96, 0.42) -11.83%, rgba(113, 102, 248, 0.42) 114.34%), #FFFFFF;
              box-shadow: 0px 4px 62px rgba(0, 0, 0, 0.1);
              border-radius: 5px;
          .ar-popover-trigger{
           cursor: pointer;
           margin-top: -19px;
          }    
         .buttonHidden{
          display: flex;
          
          .btn-edit  {
             border: none;
             background-color: $color-main;
             border-radius: 5px;
             text-decoration: none;
             color: $color-white;
             width: 100px;
             height: 33px;
             display: flex;
             justify-content: center;
             align-items: center;
             margin-right: 20px;
            &:hover {
              color: #7166f8;
              background-color: $color-white;
              transition: 0.2s;
              cursor: pointer;
            }
          
           }
           .btn-preview  {
               border: 1px solid $color-white;
               background-color: rgba(255, 255, 255, 0);
               border-radius: 5px;
               text-decoration: none;
               color: $color-white;
               width: 100px;
               height: 33px;
               display: flex;
               justify-content: center;
               align-items: center;
          
            &:hover {
              color: #7166f8;
              background-color: $color-white;
              transition: 0.2s;
              cursor: pointer;
            }
           }
        }
          }
         .graphListFooter {
       .ghButton .icon {
         color:$color-main !important;
        }
        .footer-icon path {
          fill:$color-main !important;
           }
          }
     }
     .tabsList{
      position: relative !important;
      transform: none !important;
      flex-direction: row-reverse !important;
      padding-left: 93px !important;
      top: 4px !important;
      width: 100% !important;
      .item{
        margin-left:10px !important;
        width: 120px !important;
        height: 44px !important;
        
      } 
      .lastItem{
        margin-left: auto !important;
        display: flex;
        padding: 9px 75px 9px 0;
        div{
          margin-right: 10px;
          svg{
            path{
            fill:#7C7C7C;
          }
          }
          &:hover{
            cursor: pointer;
            svg{
              path{
              fill: $color-main;
            }
            }
          }
           i{
            color: #7C7C7C;
          }
       }
      }
      .item 
      .ghButton{
        background-color: transparent !important;
        color: #9BA6B4;
        padding: 0 !important;
        margin: 0 !important;
        box-shadow: 0px 5px 12px #0d090514;
        white-space: nowrap;
        font-size: 12px !important;
        font-weight: 400 !important;
        margin-right: 11px !important;
        border-radius: 5px !important;
        width: 120px;
        height: 44px;
      }
      i{
        margin-right: 10px;
        font-size: 20px;
      }

    .item.active{
      background-color: white;
      border-radius: 5px;
    }

    }
  
    .tab_card .cart-item, .list .list-item {
     svg > path {
        fill: $color-main !important;
      }
    }
  }


// ====For card Design ======
.graphsCard {
    grid-gap: 30px 20px!important;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(332px, 1fr));
 .startGraph{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: $color-main;
   background: #FFFFFF;
   box-shadow: 0px 0px 62px 2px rgba(136, 130, 209, 0.11);
   border-radius: 5px;
   width: 340px;
   height: 380px;
    &:hover{
      cursor: pointer;
      box-shadow: 0px 0px 62px 2px rgba(136, 130, 209, 0.33);
    }
   svg{
     margin-bottom: 40px;
   }
   h3{
     font-weight: normal;
     font-size: 25px;
     line-height: 29px;
   }
 }
 .graphs{
   width: 340px;
   height: 380px;
   background: #FFFFFF;
   box-shadow: 0px 0px 62px 2px rgba(136, 130, 209, 0.22);
   border-radius: 5px;
   padding: 20px;
    .graphListHeader {
      display: flex; 
      justify-content: flex-start; 
      align-items: center; 
      position: unset !important;
    }
    .top{
      display: flex;
      justify-content: space-between;
      .avatar{
        width: 35px;
        height: 35px;
        margin-right: 10px;
      }
      .sub-menus{
           &:hover{
             cursor: pointer;
           }
          .ar-popover-content.-arrow {
            margin-top: -8px;
            left: -93px;
            z-index: 9;
            padding: 5px 0 5px 0;
            .child{
             padding: 7px 0 7px 0 !important;
             width: 100%;
             margin: 0 !important;
             text-align: center;
             display: flex;
             align-items: center;
              }
           }
           svg{
             margin-top:-12px;
           }
      }
      .infoWrapper{
        line-height: 19px !important;
         .info{
          margin: 0 !important;
          font-size: 16px !important;
          color: $color-gray1 !important;
          font-weight: 400 !important;
          width: 230px !important;
          display: flex;
          justify-content: space-between !important;
            .nodesCount{
              color: $color-main;
            }
         }
         .author{
           color: $color-gray1 !important;
           font-weight: 700 !important;
           font-size: 16px !important;
         }
         a{
           &:hover{
             text-decoration: none !important;
           }
         }
      }
      .infoContent{
       display: flex;
      }
     
    }
    div{ 
       h3 {
        font-size: 20px;
        line-height: 0;
        color: #7166F8;
        font-weight: 700;
        margin-top: 40px;
        height: 46px;
         .grpahTitle{
          display: none !important;
        }
      } 
      .descriptionRezalt{
        position: absolute;
        max-height: 50%;
        width: 19%;
        background: #FFFFFF;
        box-shadow: 0px 0px 71px 2px rgb(136 130 209 / 42%);
        border-radius: 12px;
        padding: 0px 0px 17px 0px;
        z-index: 11;
        top: auto;
        left: auto;
        span{
          color: #7166F8;
          font-size: 25px;
          font-weight: 600;
          display: flex;
          justify-content: center;
          margin-top: 10px;
        }
        .icon{
          position: absolute;
          top: -6px;
      
        }
        p{
          padding: 5px 13px 0px 20px;
          max-height: 243px;
        }
        .descriptionResult{
         overflow: auto;
         max-height: 390px;
        }
      }
    }
    .graph-image{
       &:hover{
         background: linear-gradient(
           145.22deg,
           rgba(240, 119, 96, 0.42) -11.83%,
           rgba(113, 102, 248, 0.42) 114.34%
               );
           opacity: 1;
           border-radius: 5px;
       .thumbnail{
         background: linear-gradient(
           145.22deg,
           rgba(240, 119, 96, 0.42) -11.83%,
           rgba(113, 102, 248, 0.42) 114.34%
               );
           cursor: pointer;
        }
        
      }
    .thumbnail{
         border: 1px solid #d9d9d9;
         border-radius: 5px;
         background-color: rgb(185, 172, 243);
         width: 100%;
         height: 170px;
         display: flex;
         justify-content: center;
         align-items: center;
         opacity: .9;
         object-fit: cover;

         &:hover{
           opacity: 1;
         }
     } 
    }
    .buttonView{
         display: none;
         justify-content: center;
         align-items: center;
         height: 170px ;
         position: absolute ;
         width:300px ;
         z-index: 1 ;
         flex-direction: column;
         background: linear-gradient(144.3deg, rgba(241, 142, 122, 0.86) -34.1%, rgba(113, 102, 248, 0.86) 156.19%);
         cursor: pointer;
         border-radius: 5px;
         opacity: 1;

     .btn-edit  {
          border: none;
          background-color: $color-main;
          border-radius: 5px;
          text-decoration: none;
          color: $color-white;
          width: 100px;
          height: 33px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 10px;
           &:hover {
             color: #7166f8;
             background-color: $color-white;
             transition: 0.2s;
             cursor: pointer;
        }
       }
     .btn-preview  {
         border: 1px solid $color-white;
         background-color: rgba(255, 255, 255, 0);
         border-radius: 5px;
         text-decoration: none;
         color: $color-white;
         width: 100px;
         height: 33px;
         display: flex;
         justify-content: center;
         align-items: center;
    
      &:hover {
        color: #7166f8;
        background-color: $color-white;
        transition: 0.2s;
        cursor: pointer;
      }
     }      
    }
    .graphListFooter{
      justify-content: flex-start;
     
      .ghButton {
       padding: 18px 17px 2px 0px !important;
       }
       .description{
        margin-left: auto;
        padding-right: 0 !important;
      }
    }
    .public_icon{
      line-height: 0;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      text-align: center;
      background: #FFFFFF;
      box-shadow: 0px 4px 12px rgb(0 0 0 / 25%);
      position: relative;
      top: -220px;
      z-index: 2;
      left: 275px;
      
       i{
         color:$color-main;
         font-size: 23px;
         margin: auto;
       }
     }
 }
}

//  ====No graph======

.empty{
  display: flex !important;
  justify-content: center !important;
  position: relative;
  top: 100px;
}
.graphsList.empty{
  min-height: auto !important;
  margin: 0 !important;
}
.no-graphs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  .startGraph{
      box-shadow: none !important;
      margin-top: 50px !important;
      width: auto !important;
      height: auto !important;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
     &:hover{
       cursor: pointer;
       box-shadow:none !important;
     }
     svg{
      margin-bottom: 20px;
    }
     h3{
      font-weight: normal;
      font-size: 25px;
      line-height: 29px;
      color: $color-main;
    }
  }
  .title {
    background: linear-gradient(145.22deg, #F07760 -11.83%, #7166F8 114.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 54px;
    line-height: 1.3;
    position: relative;
    top: 20px;

    + .text {
      margin: 0 0 1rem;
    }
  }
}
