@media screen and  (max-width: 1800px){
  .homeWithUser{
    .content{
      .graphsList .graphsItem{
        grid-template-columns: 15% 42% 20% 19% 4% !important;
      }
    }
  }

}
@media screen and (min-width: 1700px) {
  #header {

    .signOut {
      right: 6%;
    }

    .right-elements {
      right: 5%;
    }
  }


  #header-on-view-graph {
    grid-template-columns: 22% auto auto auto 25%;

  }
}

@media screen and (max-width: 1699px) {
  #header {
    .signOut {
      right: 2%;
    }

    .right-elements {
      right: 30px;
    }
    .start-graphs>.buttonsWrapper> .btn-startgraph , .btn-comparegraph {
      width: 200px !important;
      font-size: 14px !important;
      margin-right: 20px !important;
    }
  }

  .account-edit{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: gainsboro;

    cursor: pointer;
  }
  .account-edit i{
    font-size: 33px;
    margin: 21px 25px auto;
    cursor: pointer;
    color: blue;
  }

  #header-on-view-graph {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr) );

    .graphs {
      position: relative;
    }

    .searchInputWrapper {
      width: 50%;
    }

    .legends {
      left: 19%;
    }
    .graphNames{
      color:$color-main;
      font-size:16px;
      text-align:center;
    }

  }
}

@media screen and (max-width: 1600px) {
  #header{
    grid-template-columns: 10% 42% 36% 5% 7% !important;
    grid-gap:0 !important;
    .graphSearch>input{
      width: 400px !important;
    }
    #accountDropDown .dropdown {
      left: 86%;
  }
  }
  .barContainer {
    .recharts-surface {
      width: 500px;
    }
  }

  .pieChart {
    .recharts-surface {
      height: 250px !important;
    }
  }
  .homeWithUser{
    .content{
      .graphsList .graphsItem{
        grid-template-columns: 19% 36% 22% 19% 4% !important;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  #header{
    .graphSearch>input{
      width: 350px !important;
    }
    #accountDropDown .dropdown {
      left: 85%;
   }
   .start-graphs>.buttonsWrapper> .btn-startgraph , .btn-comparegraph {
     width: 190px !important;
     font-size: 14px !important;
     margin-right: 15px !important;
   }
  }

  .barContainer {
    .recharts-surface {
      width: 450px !important;
    }
  }

  .pieChart {
    .recharts-surface {
      height: 200px !important;
    }
  }
}

@media screen and (max-width: 1400px) {
  #header {
    .graphSearch>input{
      width: 300px !important;
    }
    .signOut {
      right: 1%;
    }

    .right-elements {
      right: -48px;
    }

    .ghButton {
      padding: 12px 14px;
    }
    #accountDropDown .dropdown {
      left: 84%;
    }
  }

  .barContainer {
    .recharts-surface {
      width: 400px !important;
    }
  }

  .pieChart {
    .recharts-surface {
      height: 180px !important;
    }
  }
  .homeWithUser .content .graphsList .graphsItem {
    grid-template-columns: 19% 34% 21% 19% 7% !important;
}
}
@media screen and (max-width: 1200px){
  #header{
    grid-template-columns: 16% 34% 36% 7% 7% !important;
    #accountDropDown {
    .accountInfo{
      svg{
        display: none;
      }
    }
      left: 82%;
  }
  .graphSearch>input{
    width: 280px !important;
  }
  .start-graphs>.buttonsWrapper> .btn-startgraph , .btn-comparegraph {
    width:160px !important;
    font-size: 14px !important;
    margin-right: 10px !important;
  }
  }
  .homeWithUser{
    .content{
      .graphsList .graphsItem{
        grid-template-columns: 25% 41% 14% 15% 5% !important;
        &:hover .buttonHidden .btn-edit {
          margin-right: 7px;
          margin-left: 7px;
      }
      }
  }
}
  .ghModalSearch {
    width: 50%;
  }
  .searchNodes {
    right: -11%;
}
}


@media screen and (max-width: 900px) {
  .ghModalSearch {
    width: 40% ;
  }
  .searchNodes {
    right: -11% !important;
    .searchField .searchBox .searchBoxInside .nodeSearch {
      padding-left: 0;
      min-width: 1px;
    }
  }

  #accountDropDown {
    .accountInfo {
      padding: 0;
      .name {
        display: none;
      }
    }

    .dropdown {
      position: absolute;
      right: -25px;
      top: 70px;
      width: 200px;
      left: auto;
      padding: 0;
      border-radius: 15px;
    }
  }
  #header{
    .graphSearch>input{
      width: 200px !important;
    }
    .start-graphs>.buttonsWrapper> .btn-startgraph , .btn-comparegraph {
      width: 130px !important;
      font-size: 13px !important;
      margin-right: 7px !important;
    }
  }
}

@media only screen and (max-width: 900px) {
  .scienceForm form {
    flex-direction: column;
    height: 10em;
    max-height: 10em;
  }
  .scienceForm input, .scienceForm button{
    line-height: 1em;
    border-radius: 2em;
    border: none;
    padding: 0 2em;
    width: 100%;
  }
  .scienceAuthorInput {
    flex:1;
  }
  .scienceTitleInput {
    flex:1;
  }
  .scienceForm button {
    flex: 1;
  }
}

@media only screen and (max-width: 530px) {
  .ghModalSearch {
    width: 70%;
  }
  .searchNodes .searchField .searchBox .searchBoxInside .searchFieldCheckBox {
    width: 5em;
     .searchFieldCheckBox {
      width: 5em;
    }
  }
  .scienceResultsList {
    flex-direction: row;
    flex-wrap: wrap;
    margin: .6em 0;
    justify-content: center;
  }
  .scienceCheckBox {
    order: 1;
    margin-left: .6em
  }
  .scienceCreateNodeButton {
    order: 3;
    display: flex;
    justify-content: space-around;
  }
  .scienceArticleData {
    min-width: 80%;
    order: 2;
    margin-left: .5em;
  }
  .scienceCreateNodeButton button {
    max-width: 50%;
  }
  .scienceArticleDescription {
    height: 11em;
    max-height: 11em;
  }
}


@media only screen and (max-height: 900px) {

  #nodeFullInfo {

    #headerMini {
      height: 265px;

      .headerBanner {
        height: 200px;
        margin-top: 15px;

        img {
          max-width: 170px;
          max-height: 170px;
        }

        .bottom-icons {
          margin-left: -20px !important;
        }
      }

      button {
        margin-left: 15px;
      }
    }

    .nodeFullContent .nodeTabs .contentWrapper {
      height: 250px;

      .no-tabs .no-tab-content {
        .header {
          .description {
            font-size: 20px;
          }

          * {
            margin-bottom: 0;
            font-size: 20px;
          }
        }

        .footer {
          margin-top: 10px;

          svg {
            margin-bottom: 0;
            width: 25px;
          }

          .create-tab {
            font-size: 20px;
            line-height: 25px;
          }
        }
      }
    }

    .connectionDetails {
      margin-top: -20px;

      .row {
        details {
          margin: 10px 0;
        }

        .list .item {
          margin-bottom: 15px;
        }
      }
    }
  }
}
