.ghModalMedia {
    width: 42%;
    max-width: unset !important;
    padding: 20px !important;
    max-height: 76% !important;
    align-items: center !important;
    min-height: 32% !important;
    // background-color:$color-tab-bg !important;
    &#fullWidth {
      position: absolute;
      width: calc(100% - 49%);
      height: 100%;
      z-index: 10;
      overflow: hidden;
    }

    .mediaNotFound {
      margin: 0 auto !important;
      text-align: center !important;
    }
  
    .close {
      padding: 0 !important;
      position: absolute !important;
      top:17px !important;
      right: 20px !important;
    }
    .reSize{
      padding: 0 !important;
      position: absolute !important;
      top:17px !important;
      right: 45px !important; padding: 0 !important;

      svg{
        color:rgb(112, 112, 112);
      }
    }

    .mediaGallery {
      display: flex;
      flex-wrap: wrap;
    }
  
    .mediaContainer {
      width: 97%;
      margin-top: 0;
      overflow: scroll ;

      .searchData {
        max-width: 99%;
      }
      &::-webkit-scrollbar-thumb {
        background-color:$coor-scroll-galery !important;
    }
     
    }
  
    .uploatedBy {
      font-style: italic;
  
      a {
        font-style: normal;
      }
    }
  
    .cancel {
      font-size: 20px;
      font-weight: 600;
      color: #0062FF;
      margin-right: 5px;
      text-transform: none;
    }
  
    .buttonsWrapper {
      margin-left: auto;
    }
  
    
  
    .mediaNotFound {
      margin-left: 38%;
      margin-top: 6%;
      color: #a6a6a6;
    }
    h2 {
      font-size: 25px !important;
      color: $color-graph-name !important;
      margin-top: 36px !important;
      margin-bottom: 25px !important;
    }
  }


.mediaHeader {
  position: sticky;
  width: 90%;
  background-color: white;
  z-index: 2;
  margin-bottom: 30px !important; 
  display: flex;
  border: 2px solid #B3ADF5 !important;
  border-radius: 10px;
  height: 40px;
  // margin: auto;
  

    .mediaSearch {
       border: none !important;
       width: 99% !important;
       margin: 0 !important;
       flex: 6 1 !important;
       display: block !important;
       height: 36px !important;
       color: $color-passive !important;
      }

    .filterMedia {
      margin-left: 9%;
      box-shadow: 0px 4px 32px rgb(0 0 0 / 25%);
      border-radius: 3px;
      width: 186px;
      position: absolute;
      left: -60px;
      background-color: #ffffff;
      top: 44px;
      z-index: 100;

     .ghCheckbox{
      margin: 12px 0px 15px 0px !important;
     }
     .graphsCheckbox + label {
      position: relative;
      display: block;
      padding-left: 20px;
      cursor: pointer;
      vertical-align: middle;
      margin: -2px 12px !important;

        &::before{
          background-color: white !important;
          border: .5px solid #7166F8 !important;
          width: 12px !important;
          height: 12px !important;
        }

        &::after{
          border-color: #7166F8 !important;
          top: 2px;
          left: 4px !important;
          width: 6px !important;
          height: 9px !important;
        }
      }
     
    }
    .showCheck{
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 2px solid #B3ADF5 !important;
        color: $color-passive;
        flex: 1 1;

        &:hover{
          cursor: pointer;
        }
        svg{
          margin-left: 10px;
        }
    } 

    .mediaLine {
      margin-top: 0;
      width: 97%;
    }

   
  }



  // ++++++
  .mediaGallery{
    display: flex;
    flex-wrap: wrap;
  .imageFrameTTT{
    width: 160px;
    height: 240px;
    padding: 12px;
    background: #FFFFFF;
    box-shadow: 0px 4px 62px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 10px;
    position: relative;
    
    img{
      width: 100% ;
      height: 170px;
      object-fit: cover;
      border-radius: 5px;
      
      &:hover{
        opacity: 0.2;
      }
    }
    iframe{
      width: 100%;
      height: 170px;
      -webkit-mask-repeat: inherit;
      mask-repeat: inherit;
      border-radius: 5px;
      object-fit: cover;
    }
    
     
      
      .container {
        display: grid;
        grid-template-columns: 30px 1fr;
        grid-template-rows: 38px;
        grid-gap: 16px 6px;
        grid-auto-flow: row;  
        grid-template-areas: ". ooo ooo";
        margin-top: 6px;

          .userImg{
            width: 27px !important;
            height: 27px !important;
            border-radius: 50%;
          }
      }
      
      .ooo {
        display: grid !important;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "."
          ".";
        grid-area: ooo;
        
        span{
          line-height: 1;
          color:#6356FF ;
        }
        .typeDocument{
          font-size: 13px;
          color:#707070;
        }
      }
  }
}
// ===??
.xxxx{
    display:none;
    height: 170px;
    background: linear-gradient(144.3deg, rgba(240, 119, 96, 0.86) -34.1%, rgba(113, 102, 248, 0.86) 156.19%);
    width: 136px;
    position: absolute;
    border-radius: 5px;
    flex-direction: column;
    padding: 6px;
    .mediaInfo{
      display: flex;
      flex-direction: column;
      color: white;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;

      .mediUser{
        a{
           color: white !important;
           text-decoration: none;
        }
      }
      .mediaLeter{
        font-style:oblique;
        font-size: 12px;
        font-weight: 700;
        line-height: 25px;
      }
    }
    .docType{
      display: inline;
      .mediaLeter{
        margin-right:6px;
      }
    }
}
